/*
Break points
- developers understand pixel values better
- ems is a better user experience, because design handles text resizing better
- divide pixels by browser default font size (16px)
- and multiply by 1em to convert unit to em.
*/
$browser-default-font-size: 16px;
$max-width-default: (1399px / $browser-default-font-size) * 1em;
$small-desktop-ends: (1199px / $browser-default-font-size) * 1em;
$tablet-ends: (1023px / $browser-default-font-size) * 1em;
$mobile-ends: (767px / $browser-default-font-size) * 1em;
$small-mobile-ends: (479px / $browser-default-font-size) * 1em;

$small-desktop-starts: $tablet-ends + 0.001em;
$tablet-starts: $mobile-ends + 0.001em;
$mobile-starts: $small-mobile-ends + 0.001em;

/*
@media queries
- Always code "mobile first"
- When coding features, begin by coding the mobile presentation as default
- Use the min-width MQs to modify presentation for larger screens
*/
$mq-max-width-and-up: "all and (min-width: #{$max-width-default})";
$mq-large-desktop-and-up: "all and (min-width: #{$small-desktop-ends})";
$mq-small-desktop-and-up: "all and (min-width: #{$small-desktop-starts})";
$mq-tablet-and-up: "all and (min-width: #{$tablet-starts})";
$mq-mobile-and-up: "all and (min-width: #{$mobile-starts})";
